@import '@/styles/common';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $content;
}

#root {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  max-height: calc(100% - 70px);
  height: 100%;
  display: flex;
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
