.container {
  &_active {
    background-color: rgba(39, 40, 44, .05);

    & > .link {
      font-weight: 600;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.link {
  position: relative;
  display: block;
  padding: 8px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  border-right: 32px solid transparent;
  border-left: 32px solid transparent;
  transition: background-color .2s ease;
  text-overflow: ellipsis;

  &:hover {
    background-color: rgba(39, 40, 44, .05);
    cursor: pointer;
  }
}

.arrow {
  position: absolute;
  top: 8px;
  margin-left: -20px;
  transition: transform .2s ease;

  &_active {
    transform: rotate(90deg);
  }
}

.sublist {
  margin: 0;
  padding: 0;
  list-style: none;
}
