@import '@/styles/common';

.wrapper {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  max-width: 410px;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: .2s ease background-color;

  &:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &__icon {
    fill: $white;
  }
}
